.holder {
    width: 99%;
    margin: 0.5% ;
    padding: 5px;
    background-color: black;
    color: white;
    border: solid black 1px;
    border-radius: 2px;
    margin-bottom: 5px;
    /* box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) */
}

.heading-holder {
    font-size: 12px;
    margin: 5px;
}
.body-holder {
    font-size: 14px;
    margin: 5px;
    width:350px;
}

.footer-holder {
    text-align: right;
    color: lightgray;
    font-size: 10px;
}