.application-body {
  position: relative; 
  min-width: 400px; 
  max-width: 400px;
  max-height: 480px; 
  overflow: scroll;
  padding: 0;
}

.application-body::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  height: 0px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: black;
  opacity: 0.8;
  padding: 40%;
}